%section#cart_items
  .container
    .breadcrumbs
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active Check out
    / /breadcrums
    .step-one
      %h2.heading Step1
    .checkout-options
      %h3 New User
      %p Checkout options
      %ul.nav
        %li
          %label
            %input{type: "checkbox"} Register Account
        %li
          %label
            %input{type: "checkbox"} Guest Checkout
        %li
          %a{href: ""}
          %i.fa.fa-times
          Cancel
    / /checkout-options
    .register-req
      %p Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest
    / /register-req
    .shopper-informations
      .row
        .col-sm-3
          .shopper-info
            %p Shopper Information
            %form
              %input{placeholder: "Display Name", type: "text"}
              %input{placeholder: "User Name", type: "text"}
              %input{placeholder: "Password", type: "password"}
              %input{placeholder: "Confirm password", type: "password"}
            %a.btn.btn-primary{href: ""} Get Quotes
            %a.btn.btn-primary{href: ""} Continue
        .col-sm-5.clearfix
          .bill-to
            %p Bill To
          = form_with model: @order do |form|
            .form-one
              %form
                = form.text_field :first_name, placeholder: 'First name'
                %input{placeholder: "Middle Name", type: "text"}
                %input{placeholder: "Last Name *", type: "text"}
                %input{placeholder: "Email*", type: "text"}
                %input{placeholder: "street *", type: "text"}
                %input{placeholder: "", type: "text"}
            .form-two
              %form
                %input{placeholder: "Zip / Postal Code *", type: "text"}
                %select
                  %option -- Country --
                  %option United States
                  %option Bangladesh
                  %option UK
                  %option India
                  %option Pakistan
                  %option Ucrane
                  %option Canada
                  %option Dubai
                %select
                  %option -- State / Province / Region --
                  %option United States
                  %option Bangladesh
                  %option UK
                  %option India
                  %option Pakistan
                  %option Ucrane
                  %option Canada
                  %option Dubai
                %input{placeholder: "Confirm password", type: "password"}
                %input{placeholder: "Phone *", type: "text"}
                %input{placeholder: "Mobile Phone", type: "text"}
                %input{placeholder: "Fax", type: "text"}
        .col-sm-4
          .order-message
            %p Shipping Order
            %textarea{name: "message", placeholder: "Notes about your order, Special Notes for Delivery", rows: "16"}
            %label
              %input{type: "checkbox"} Shipping to bill address
    .review-payment
      %h2 Review  Payment
    .table-responsive.cart_info
      %table.table.table-condensed
        %thead
          %tr.cart_menu
            %td.image Item
            %td.description
            %td.price Price
            %td.quantity Quantity
            %td.total Total
            %td
        %tbody
          %tr
            %td.cart_product
              %a{href: ""}
                %img{alt: "", src: "images/cart/one.png"}
              %td.cart_description
                %h4
                  %a{href: ""} Colorblock Scuba
                %p Web ID: 1089772
              %td.cart_price
                %p $59
              %td.cart_quantity
                .cart_quantity_button
                  %a.cart_quantity_up{href: ""} +
                  %input.cart_quantity_input{autocomplete: "off", name: "quantity", size: "2", type: "text", value: "1"}
                    %a.cart_quantity_down{href: ""} -
                %td.cart_total
                  %p.cart_total_price $59
                %td.cart_delete
                  %a.cart_quantity_delete{href: ""}
                    %i.fa.fa-times
              %tr
                %td.cart_product
                  %a{href: ""}
                    %img{alt: "", src: "images/cart/two.png"}
                  %td.cart_description
                    %h4
                      %a{href: ""} Colorblock Scuba
                    %p Web ID: 1089772
                  %td.cart_price
                    %p $59
                  %td.cart_quantity
                    .cart_quantity_button
                      %a.cart_quantity_up{href: ""} +
                      %input.cart_quantity_input{autocomplete: "off", name: "quantity", size: "2", type: "text", value: "1"}
                        %a.cart_quantity_down{href: ""} -
                    %td.cart_total
                      %p.cart_total_price $59
                    %td.cart_delete
                      %a.cart_quantity_delete{href: ""}
                        %i.fa.fa-times
                  %tr
                    %td.cart_product
                      %a{href: ""}
                        %img{alt: "", src: "images/cart/three.png"}/
                      %td.cart_description
                        %h4
                          %a{href: ""} Colorblock Scuba
                        %p Web ID: 1089772
                      %td.cart_price
                        %p $59
                      %td.cart_quantity
                        .cart_quantity_button
                          %a.cart_quantity_up{href: ""} +
                          %input.cart_quantity_input{autocomplete: "off", name: "quantity", size: "2", type: "text", value: "1"}
                            %a.cart_quantity_down{href: ""} -
                        %td.cart_total
                          %p.cart_total_price $59
                        %td.cart_delete
                          %a.cart_quantity_delete{href: ""}
                            %i.fa.fa-times
                      %tr
                        %td{colspan: "4"}
                        %td{colspan: "2"}
                          %table.table.table-condensed.total-result
                            %tr
                              %td Cart Sub Total
                              %td $59
                            %tr
                              %td Exo Tax
                              %td $2
                            %tr.shipping-cost
                              %td Shipping Cost
                              %td Free
                            %tr
                              %td Total
                              %td
                                %span $61
    .payment-options
      %span
        %label
          %input{type: "checkbox"} Direct Bank Transfer
        %span
          %label
            %input{type: "checkbox"} Check Payment
          %span
            %label
              %input{type: "checkbox"} Paypal