.left-sidebar
  / /category-products
  %h2 Category
  #accordian.panel-group.category-products
    .panel.panel-default
      %ul.nav.nav-pills.nav-stacked
        -# = link_to 'All', products_path
        - @categories.each do |category|
          .panel-heading
            .panel-title 
              %li.category-filter{data: {"category-id": category.id}, class: category.active ? "active-filter" : ""}
                = category.name
  // brands_products
  %h2 Brands
  .brands-name
    %ul.nav.nav-pills.nav-stacked
      - @brands.each do |brand|
        - if brand.active
          %li.brand-filter{data: {"brand-id": brand.id}, class: brand.active ? "active-filter" : ""}
            = brand.name
  / price-range
  .price-range
    %h2 Price Range
    .well.text-center
      %input#sl2.span2(data-slider-max="5000" data-slider-min="500" data-slider-step="5" data-slider-value="[1500,3500]" type="text" value="")
      %br
      %b.pull-left ₹ 500
      %b.pull-right ₹ 5000
    / /price-range
  / /shipping
  .shipping.text-center
    = image_tag("home/shipping.jpg", alt: "")
/ /shipping
