%section#advertisement
  .container
    = image_tag "shop/advertisement.jpg", alt: ""
%section
  .container
    .row
      .col-sm-3
        .left-sidebar
          = render 'product_sidebar' 
      .col-sm-9.padding-right
        .features_items
          %h2.title.text-center Features Items
          #product-data
            = render partial: 'product_data', locals: { products : @products }
- content_for :js_code do
  :javascript
    $('.brand-filter').click(function(){
      var brandId = $(this).attr("data-brand-id");
      $.ajax({
        type: 'GET',
        url: '/products',
        data: { brand_id: brandId },
        dataType: 'js',
        success: function (data) {}  
      });
    });    
  
  